.card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
}


.header-container {
  height: 25%;
  width: 100%;
}

.count-card {
  height: 65%;
  width: 100%;
}


.item-card {
  width: 25%;
  height: 70%;
}

.card-footer{
  width: 100%;
  height: 15%;
}

.sample-icon {
  width: 48pt;
  height: 48pt;
}
