<div class="card-container" fxLayout="column" fxLayoutAlign="start center">
  <app-course-header [id]="detail._id" [topic]="detail.topic" [title]="detail.title" [description]="detail.description"
    class="header-container"></app-course-header>
  <div class="search-bar" fxLayout="row" fxLayoutAlign="space-around center">
    <mat-form-field class="search-input">
      <mat-icon id="search-icon" matPrefix>search</mat-icon>
      <input #search matInput type="text" placeholder="Search a student.." autocomplete="off"
        (change)="searchKeyword = search.value">
    </mat-form-field>
    <div class="order-select">
      <mat-form-field>
        <mat-label>Order by...</mat-label>
        <mat-select [(value)]="currFilter">
          <mat-option [innerHTML]="item.icon + ' ' + item.label" *ngFor="let item of filters" [value]="item.value">
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <app-students-list class="students-list" [list]="students" [searchKeyword]="searchKeyword" [sortKeyword]="currFilter">
  </app-students-list>
</div>
