<div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="row" gdAlignRows="center" class="img-container">
      <div class="img-margin">
        <img src="../../assets/questions-logo-clean.png" alt="questions-logo">
      </div>
    </div>
  </div>
  <div class="principal">
    <div *ngIf="isLoading" id="login-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div>
    <div fxLayout="row" fxLayoutAlign="center center" class="form-container">
      <form #form="ngForm" [formGroup]="LoginForm" (ngSubmit)="doLogin(); form.resetForm()">
        <mat-form-field class="input-value">
          <input matInput placeholder="email" autocomplete="off" formControlName="email">
          <mat-error *ngIf="(f.email.dirty || f.email.touched) && f.email.errors?.pattern"> please enter a valid Konrad
            Lorenz email.</mat-error>
          <mat-error *ngIf="(f.email.dirty || f.email.touched) && f.email.errors?.required"> This value is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-value">
          <input matInput placeholder="password" autocomplete="off" type="password" formControlName="password">
          <mat-error *ngIf="(f.password.dirty || f.password.touched) && f.password.errors?.required"> This value is
            required. </mat-error>
          <mat-error *ngIf="(f.password.dirty || f.password.touched) && f.password.errors?.minlength"> The minimun
            length is 6. </mat-error>
        </mat-form-field>
        <div class="button-container">
          <button [disabled]="LoginForm.invalid" class="submit-btn" mat-button color="primary">Log-in</button>
        </div>
      </form>
    </div>
  </div>
</div>
