<div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="row" gdAlignRows="center" class="img-container">
      <div class="img-margin">
        <img src="../../assets/questions-logo-clean.png" alt="questions-logo">
      </div>
    </div>
  </div>
  <div class="principal">
    <div *ngIf="isLoading" id="login-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div>
    <div fxLayout="row" fxLayoutAlign="center center" class="form-container">
      <form [formGroup]="LoginForm" (ngSubmit)="doLogin()" #form="ngForm">
        <mat-form-field class="input-value">
          <input matInput placeholder="email" formControlName="email">
        </mat-form-field>

        <mat-form-field class="input-value">
          <input matInput placeholder="password" type="password" formControlName="password">
        </mat-form-field>
        <div class="button-container">
          <button class="submit-btn" mat-button color="primary">Log-in</button>
        </div>
      </form>
    </div>
  </div>
</div>
