<div *ngFor="let course of courses">
  <mat-card class="card">
    <mat-card-header>
      <img mat-card-avatar matTooltip="{{course.topic.name}}" src="{{course.topic.icon}}">
      <mat-card-title> {{course.title}} </mat-card-title>
      <mat-card-subtitle>you are {{getRole()}} in this course </mat-card-subtitle>
      <button [routerLink]="['/course' , course._id , 'detail']" id="detail-button" mat-raised-button
        matTooltip="view course detail">
        <img class="sample-icon" src="https://img.icons8.com/office/80/000000/Detail-view-of-part.png" />
      </button>
      <button id="user-button" mat-raised-button matTooltip="{{getButtonDescription()}}">
        <img class="sample-icon" src="{{getButtonUrl()}}" />
      </button>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{course.description}}
      </p>
    </mat-card-content>
    <mat-card-footer class="footer" fxLayout="row" fxLayoutAlign="space-evenly center">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <img class="sample-icon" src="https://img.icons8.com/clouds/100/000000/create-new.png"
          matTooltip="creation date" />
        <p>{{getFormattedDate(course.create_date)}} </p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <img class="sample-icon" src="https://img.icons8.com/plasticine/100/000000/approve-and-update.png"
          matTooltip="last update date" />
        <p>{{getFormattedDate(course.last_update_date)}} </p>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
