.bordered {
  border: 1px solid rgb(124, 211, 124);
  cursor: pointer;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


.input-value {
  width: 80%;
}

.side-corner-button {
  position: absolute;
  top: 2%;
  right: 2%;
}

.sample-icon {
  width: 24pt;
  height: 24pt;
}


:host ::ng-deep .mat-focused .mat-form-field-ripple {
  background-color: rgb(124, 211, 124);
}

:host ::ng-deep .mat-focused .mat-form-field-label {
  color: rgb(124, 211, 124);
}
