<div class="principal-container max-width-container close-padding" fxLayout="column" fxLayoutAlign="start center">
  <mat-card class="title">
    <mat-card-title>SELECT A SECTION</mat-card-title>
    <mat-card-subtitle> hello! , please select a section to continue. </mat-card-subtitle>
  </mat-card>
  <div class="cards-container">
    <mat-card class="card-children" *ngFor="let item of typesInfo"
      [ngClass]="[item.style , item.type === 5? 'centered-card' : '']" [routerLink]="item.route"
      [queryParams]="{new : true}" queryParamsHandling="merge">
      <mat-card-title> {{item.title}}</mat-card-title>
      <mat-card-subtitle [innerHTML]="item.description" [ngClass]="item.style"></mat-card-subtitle>
    </mat-card>
  </div>
</div>
