<div *ngIf="!error ;else errorView" class="principal-container max-width-container" fxLayout="column"
  fxLayoutAlign="start center">
  <div class="context-container" *ngIf="$data ;else creationflow">
    <div class="context-wrapper" *ngIf="$data | async as section ;else loading">
      <app-section-context class="context-container no-margin" [contextMaxLength]="500" [courseId]="cid"
        [sectionId]="sid" [sectionType]="SECTION_TYPE" [title]="section.title" [context]="section.context"
        [image]="section.image" [explanation]="true" (clickedImage)="handleContextImageClick($event)"
        (performedDeletion)="clearSID()">
      </app-section-context>
    </div>
    <ng-template #loading>
      <div class="context-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
  <ng-template #creationflow>
    <app-section-context class="context-container" [contextMaxLength]="500" [courseId]="cid"
      [sectionType]="SECTION_TYPE" (clickedImage)="handleContextImageClick($event)"
      (performedCreation)="handlePerformedCreation($event)">
    </app-section-context>
  </ng-template>
  <div class="content-container">
    <mat-card class="principal-container max-width-container content">
      <div class="titles">
        <mat-card-title class="bold-text title"> QUESTIONS </mat-card-title>
        <div class="counter">
          <p class="numeric-text bold-text"> {{submited_questions + '/' + max_questions}}</p>
        </div>
      </div>
      <app-multiple-selection-list class="questions-list" [data]="questions" [whiteFields]="true"
        [options]="max_options" (questionCreated)="createQuestion($event)" (questionUpdated)="updateQuestion($event)">
      </app-multiple-selection-list>
    </mat-card>
  </div>
</div>
<app-image-focus *ngIf="focusedImage" [image]="focusedImage" (close)="focusedImage = null"></app-image-focus>
<ng-template #errorView>
  <div class="principal-container max-width-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="error-image">
      <img src="{{error.image || GENERIC_ERROR_EMPTY_STATE}}">
    </div>
    <div class="error-text">
      <h3>{{error.status}}</h3>
    </div>
  </div>
</ng-template>
