<div class="principal-container" fxLayout="column" fxLayoutAlign="center center">
  <form #form="ngForm" [formGroup]="courseForm" class="principal-container form-parent"
    (ngSubmit)="createCourse(); form.resetForm()">
    <mat-form-field class="input-value">
      <input matTooltip="to modify this value you have to update your profile ;)" matTooltipPosition="after" matInput
        placeholder="teacher email" readonly="true" value="{{email}}" disabled="true">
    </mat-form-field>
    <mat-form-field class="input-value">
      <input matTooltip="to modify this value you have to update your profile ;)" matTooltipPosition="after" matInput
        placeholder="teacher code" readonly="true" value="{{code}}" disabled="true">
    </mat-form-field>
    <mat-form-field class="input-value">
      <input #title matInput placeholder="course-title" autocomplete="off" formControlName="title">
      <mat-error
        *ngIf="(courseForm.controls['title'].dirty || courseForm.controls['title'].touched) && courseForm.controls['title'].errors?.required">
        please enter a title</mat-error>
      <button mat-button *ngIf="title.value.length > 0" matSuffix mat-icon-button aria-label="Clear"
        (click)="title.value =''; courseForm.controls['title'].reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="input-value">
      <mat-label> Course description</mat-label>
      <textarea #description matInput cdkTextareaAutosize="true" autocomplete="off" maxlength="300"
        formControlName="description"></textarea>
      <mat-error
        *ngIf="(courseForm.controls['description'].dirty || courseForm.controls['description'].touched) && courseForm.controls['description'].errors?.required">
        please enter a description</mat-error>
      <button mat-button *ngIf="description.value.length > 0" matSuffix mat-icon-button aria-label="Clear"
        (click)="description.value =''; courseForm.controls['description'].reset()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-hint>{{description.value.length}} / 300</mat-hint>
    </mat-form-field>
    <div class="button-container">
      <button [disabled]="courseForm.invalid" class="submit-btn" mat-button color="primary">CREATE COURSE
        {{title.value}}
      </button>
    </div>
  </form>
<div class="loading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
</div>
