<div class="m-content" fxLayout="row" fxLayoutAlign="center center">
    <app-courses [user]="user" *ngIf="(user.authenticated || type === 'TEACHER')&& !isLoading" fxFlex="100"></app-courses>
  </div>
  <div *ngIf="!isLoading && !user.authenticated && type !== 'TEACHER'" fxLayout="row" fxLayoutAlign="center center"
    class="centered">
    <div fxFlex="60">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Welcome to Questions!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="row">
            <div fxFlex="30">
              <img id="logo-img" src="../../assets/questions-logo-clean.png" alt="questions-logo">
            </div>
            <div fxFlex="50" fxLayout="column">
              <p class="text">Hello , we identify your mail : <strong>{{user.email}}</strong></p>
              <p class="text">Please , complete your information for continue : </p>
              <form (ngSubmit)="finalizeRegister()">
                <mat-form-field class="full-width">
                  <input matInput [(ngModel)]="name" placeholder="Put your name"
                    [ngModelOptions]="{standalone: true}" />
                </mat-form-field>
                <mat-form-field class="full-width">
                  <input matInput [(ngModel)]="code" placeholder="Put your code"
                    [ngModelOptions]="{standalone: true}" />
                </mat-form-field>
                <button id="submit-btn" mat-button color="primary">Continue</button>
              </form>
            </div>
          </div>
        </mat-card-content>
        <mat-card-footer fxLayout="row">
          <p id="idFooter" fxFlex="80"> you were identified as <strong> {{type}} </strong> </p>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
  <div *ngIf="isLoading" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
