.title-text {
  width: 70%;
  font-size: 1.5rem;
  font-weight: bold;
}

.context-text {
  width: 70%;
}

.side-corner-button {
  position: absolute;
  top: 5%;
  right: 10%;
}

.corner-button {
  position: absolute;
  top: 5%;
  right: 2%;
}

.sample-icon {
  width: 36pt;
  height: 36pt;
}

.image-container {
  position: absolute;
  width: 25%;
  height: 25%;
  top: 25%;
  right: 2%;
}

.context-image {
  width: 60%;
  height: 100%;
  position: absolute;
  border: 1px solid rgb(17, 21, 59);
  cursor: pointer;
}


.example-container {
  position: absolute;
  width: 25%;
  height: 25%;
  bottom: 25%;
  right: 2%;
}


.example-btn {
  width: 200px;
  border: 1px solid rgb(230, 94, 94);
}

.example-active {
  border: 1px solid rgb(124, 211, 124);
}

::ng-deep .successfull-snackbar .mat-simple-snackbar-action {
  background: rgb(250, 251, 252);
  color: rgb(39, 163, 35);
}

::ng-deep .error-snackbar .mat-simple-snackbar-action {
  color: rgb(226, 93, 93);
}


:host ::ng-deep .mat-focused .mat-form-field-ripple {
  background-color: rgb(28, 120, 196);
}

:host ::ng-deep .mat-focused .mat-form-field-label {
  color: rgb(28, 120, 196);
}
