.centered {
  height: max-content;
  background: white;
  margin: 2% 2%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header-image {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#avatar-img {
  margin: 2% auto;
}

.simple-text {
  text-align: center;
  margin: 2% auto;
}

.menu-button {
  width: 80%;
  margin: 2% auto;
  /* background-color:  #2fc1e6; */
}

.sample-icon {
  font-size: 30px;
}

.button-content {
  margin: 2% auto;
  font-size: 20px;
  color: rgba(28, 120, 196, 1);
}

.menu-label {
  margin-top: 2%;
}


.logout-content {
  color: red;
}
